body{
	text-align: center;
	background-color: #68cdd6;
	color: #fff;
	font-size: 12px;

}
.art{
	width: 60%;
	margin: 0 auto;
}
.contain{
	margin: 0 auto;
/*	border: 1px solid;
*/	height: 50rem;
	width: 100%;
/*	background-color: #68cdd6;
*/}
.header{
	text-align: left;
	margin: 2rem;
	margin-bottom: 4rem;
}
.header img{
	width: 2rem;

}
.img{
	text-indent: -2em;
	margin-bottom: 18%;
}
.section img{
	width: 8rem;
}
.section p{
     text-align: left;
     font-size: 1.5rem;
}
.footer{
	
	margin-top: 7rem;
}
.img1{
	float: left;
	font-size: 80%;

	text-align: left;

}
.img1 img{
	width: 3rem;
}
.img2{
	float: right;
	font-size: 80%;
	
	
}
.img2 img{
	width: 3rem;
}